[submodule "backend"]
	path = backend
	url = https://github.com/JesusJimenezG/DeliverTrack-backend-submodules.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/JesusJimenezG/DeliverTrack-frontend-submodules.git
